---
import HeroSection from '@/components/HeroSection.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section>
    <HeroSection />
  </section>
</Layout>
