---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="bg-primary/10 rounded-lg border backdrop-blur-2xl">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Marcel-TO</h3>
        <p class="text-muted-foreground text-sm">
          <div class="flex flex-row items-center gap-1">
            <Icon
              name="lucide:file-chart-pie"
              class="text-primary-foreground size-4"
            /> Data Engineer
            <Icon
              name="lucide:code"
              class="text-primary-foreground ml-4 size-4"
            /> Programmer
            <Icon
              name="lucide:gamepad-2"
              class="text-primary-foreground ml-4 size-4"
            /> Gamer <Icon
              name="lucide:guitar"
              class="text-primary-foreground ml-4 size-4"
            /> Musician
          </div>
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-primary-foreground mb-2 text-sm my-2">
          Welcome to my personal website! Here you can find projects I've worked
          on, blog posts I've written, documentation about my Open Source
          projects, and more about my interests and hobbies.
        </p>
        <p class="text-primary-foreground text-sm my-2">
          I'm always looking for new challenges and opportunities to learn and
          grow.
        </p>
        <p class="text-primary-foreground text-sm my-2">
          When I'm not coding, you can find me in front of the piano or enjoying
          games (from chess to mostly all trendy video games).
        </p>
        <p class="text-primary-foreground text-sm mt-6">
          Feel free to browse my repositories and reach out to me if you have
          any questions or would like to collaborate on a project.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
