---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import { ClientRouter } from "astro:transitions";
import Analytics from '@vercel/analytics/astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<!doctype html>
<html class="bg-radial from-background-gradient to-background text-foreground" lang={SITE.locale}>
  <Head>
    <slot name="head" />
    <ClientRouter />
    <Analytics />
  </Head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <div
        class="sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none"
      >
        <Header />
        <slot name="subposts-navigation" />
        <slot name="table-of-contents" />
      </div>
      <main class="grow">
        <div class={cn('mx-auto flex grow flex-col gap-y-6 px-4', className)}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
